input {
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 10px;
}
.boxInput {
  height: 60px;
  background-color: #0066ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
